<ul id="section_menu">
    <%= menu_option "Ver clientes", customers_path, "customers", @subsection %>
    <%= menu_option "Nuevo cliente", new_customer_path, "customers_form", @subsection %>
</ul>