
	<td class="center"><%= text_field :invoice_line, :quantity, :class => "textfield quantity" %></td>
	<td><%= text_field :invoice_line, :description, :class=> "textfield description" %></td>
	<td colspan="2"><%= text_field :invoice_line, :price, :class => "textfield price" %></td>
	<td>
			<%= hidden_field :invoice_line, :id %>
			<%= submit_tag "Añadir", :class => "button" %>
			<% link_to "Cancelar", :action => "edit", :id => @invoice %>
	</td>

				