<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
		<head>
		<title>Factura nº <%= @invoice.invoice_number %> </title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<style type="text/css">
			body {
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 11px;
			}	
			
			th {
				background-color: #cdcdcd;
			}
			
			th, td {
				padding: 4px;
			}
			
			th.price,
			th.total,
			th.quantity {
				width: 12%;
			}
			
			td.subtotal {
				background-color: #dadad9;
			}

			td.total {
				background-color: #b1aea5;  
	    	font-weight: bold;  
			}
			
			.right {
				text-align: right;
			}
			
			.center {
				text-align: center;
			}
			
			#invoice_lines {
				width: 700px;
			}
			
			
			.invoice_line td {
				border-bottom: 1px solid #cdcdcd;
			}
			
			.invoice_number {
				text-align: right;
			}
			
			#customer {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #cdcdcd;
			}
			
		</style>
	</head>
	
	<body>
		<h3 class="invoice_number">Factura nº <%= @invoice.invoice_number %> - <%= @invoice.date.to_formatted_s(:date) %></h3>
		
		
		<h2><%= "#{current_user.name} - #{current_user.nif}" %></h2>
		<h3><%= current_user.address %></h3>
		
		<!-- customer -->
		<div id="customer">
			<h3>Cliente: <%= @invoice.customer.name %></h3>
			
			<dl>
				<dt>NIF/CIF:</dt>
				<dd><%= @invoice.customer.nif %></dd>
				
				<dt>Teléfono:</dt>
				<dd><%= @invoice.customer.phone %></dd>
				
				<dt>E-mail:</dt>
				<dd><%= @invoice.customer.email %></dd>
				
				<dt>Dirección:</dt>
				<dd><%= @invoice.customer.address %> </dd>
			</dl>
		</div>
		
		
		<!-- invoice / invoice lines -->
		<table id="invoice_lines">
			<thead>
				<tr>
					<th class="quantity">Cantidad</th>
					<th class="concept">Concepto</th>
					<th class="price">Precio</th>
					<th class="total">Total</th>
				</tr>
			</thead>
			
			<tbody>
				<% @invoice.invoice_lines.each do |invoice_line| %>
				
				<tr class="<%=cycle('even', 'odd')%> invoice_line">
					<td class="right"><%= invoice_line.quantity %></td>
					<td>
						<%= invoice_line.description %>
					</td>
					<td class="right"><%= format_price(invoice_line.price) %></td>
					<td class="right"><%= format_price(invoice_line.total) %></td>
				</tr>
				<% end %>
			</tbody>
			
			<tfoot>
				
				<!-- base -->
				<tr>
					<td colspan="2"></td>
					<td class="right subtotal">Base:</td>
					<td class="right subtotal"><%= format_price(@invoice.base) %></td>
				</tr>
				
				<!-- irpf -->
				<tr>
					<td colspan="2"></td>
					<td class="right subtotal">IRPF(<%= @invoice.irpf %>%):</td>
					<td class="right subtotal">-<%= format_price(@invoice.total_irpf) %></td>
				</tr>
				
				<!-- iva -->
				<tr>
					<td colspan="2"></td>
					<td class="right subtotal">IVA(<%= @invoice.iva %>%):</td>
					<td class="right subtotal"><%= format_price(@invoice.total_iva)%></td>
				</tr>
				
				<!-- total -->
				<tr>
					<td colspan="2"></td>
					<td class="right total">Total:</td>
					<td class="right total"><%= format_price(@invoice.total) %></td>
				</tr>
				
			</tfoot>	
		</table>
	</body>
</html>